.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: animateAbout 2s;
  backface-visibility: hidden;
  color: white;
}

@keyframes animateAbout {
  0% {
    opacity: 0;
  }
  100% {
    apacity: 1;
  }
}
