.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  animation: animateHome 2s;
  backface-visibility: hidden;
  color: white;
}

@keyframes animateHome {
  0% {
    opacity: 0;
  }
  100% {
    apacity: 1;
  }
}

.home .home-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0.5rem 0.5rem 0;
}

.home .home-info {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blueviolet; */
}

.home .home-info h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 4rem;
}

.home .home-info h3 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.home .home-info .icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home .home-info .icons a {
  font-size: 4rem;
  color: inherit;
  opacity: 1;
}

.home .home-info .icons a:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

@media only screen and (max-width: 864px) {
  .home .home-info h1 {
    font-size: 3rem;
  }

  .home .home-info h3 {
    font-size: 2.5rem;
  }

  .home .home-info .icons a {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .home .home-info h1 {
    font-size: 2.5rem;
  }

  .home .home-info h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .home {
    flex-direction: column;
  }

  .home .home-img {
    width: 100%;
    height: 70%;
    border-radius: 0;
  }

  .home .home-info {
    width: 100%;
    height: 30%;
  }

  .home .home-info h1 {
    font-size: 2rem;
  }

  .home .home-info h3 {
    font-size: 1.5rem;
  }

  .home .home-info .icons {
    width: 70%;
  }

  .home .home-info .icons a {
    font-size: 2.5rem;
  }
}
