.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  animation: animateHome 2s;
  backface-visibility: hidden;
  color: white;
}

@keyframes animateHome {
  0% {
    opacity: 0;
  }
  100% {
    apacity: 1;
  }
}

.home .home-img {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: ab; */
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* background-color: brown; */
}

.home .home-img img {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  max-width: 98%;
  height: auto;
  border-radius: 0.5rem;
  /* image-resolution: ; */
  /* object-fit: scale-down; */
  box-shadow: rgba(187, 187, 211, 0.4) 0 1rem 2rem 0.4rem;
}

.home .home-info {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blueviolet; */
}

.home .home-info h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  /* margin-bottom: 2rem; */
}

.home .home-info h3 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  /* margin-bottom: 3rem; */
}

.home .home-info .icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home .home-info .icons a {
  font-size: 3rem;
  color: inherit;
  opacity: 1;
}

.home .home-info .icons a:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}
