.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.app-main-container {
  width: 90%;
  height: 85%;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 40, 0.6);
}

@media only screen and (max-width: 768px) {
  .app-main-container {
    width: 95%;
  }
}

@media only screen and (max-width: 576px) {
  .app-main-container {
    width: 98%;
    height: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
