@font-face {
  font-family: "Mainland PERSONAL Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Mainland PERSONAL Medium"),
    url("../assets/fonts/MainlandRegular_PERSONAL.woff") format("woff");
}

@font-face {
  font-family: "Mainland PERSONAL Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Mainland PERSONAL Bold"),
    url("../assets/fonts/MainlandBold_PERSONAL.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mainland PERSONAL Medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #969197; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dad7d7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
