.Nav {
  font-size: 4rem;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Nav a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 3rem;
  border-bottom: 0.5rem solid transparent;
}

.Nav a:hover {
  background-color: rgba(0, 0, 50, 0.5);
  color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  border-bottom: 0.5rem solid rgba(0, 0, 50, 0.8);
}
