.Nav {
  width: 90%;
  height: auto;
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.3rem;
  padding: 0;
}

.Nav .logo .logo-tab {
  color: rgba(0, 0, 30, 1);
  font-size: 4rem;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav .logo,
.Nav .navs {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav .tab {
  font-size: 3.5rem;
  height: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 50, 0.8);
  padding: 0.2rem 1rem;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.Nav .tab:hover {
  background-color: rgba(0, 0, 30, 0.3);
}

.Nav .tab.active {
  color: rgba(0, 0, 30, 1);
  background-color: rgba(0, 0, 30, 0.4);
}

@media only screen and (max-width: 768px) {
  .Nav {
    width: 95%;
  }

  .Nav .logo .logo-tab {
    font-size: 2.5rem;
  }

  .Nav .tab {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .Nav {
    width: 100%;
    justify-content: space-between;
  }

  .Nav .logo {
    width: 30%;
  }

  .logo-tab {
    font-size: 2rem;
  }

  .Nav .navs {
    width: 70%;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .Nav .tab {
    font-size: 2rem;
  }
}
